body {
    background-color: #f5f8fa;
}

.container {
    padding-top: 30px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.col-sm {
    background-color: white;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.125);
    border-style: solid;
    border-radius: 2%;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 50px;
}

.col-sm button {
    width: 23% ;
    height: 75px;
    margin-right: 2%;
    margin-top: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
}

.col-sm .form-control {
    width: 100%; 
}